# Python Virtual Environments
venv/
.venv/
env/

__pycache__/

informacoes_aplicativo.json

oauth_token.txt

4-recomendacao/dados/canais_seguidos.json

4-recomendacao/dados/perfis_seguidos.csv

4-recomendacao/dados/perfis_seguidos_processado.csv